body {
    font-family: Arial, sans-serif;
    background-color: #C2E4F2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 430px;
    padding: 20px;
}

.header {
    background-color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header-left span {
    font-size: 18px;
    color: #000;
}

.header-right img {
    width: 30px;
    height: 30px;
}

.section {
    background-color: #F2F2F2;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.section h2 {
    margin-top: 0;
    font-size: 18px;
    color: #000;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFF;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-item {
    text-align: center;
    margin: 10px;
}

.icon-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.icon-item p {
    margin: 0;
    font-size: 14px;
    color: #000;
}

/* Loader overlay */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* Ancho total de la pantalla */
    height: 100vh; /* Altura total de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    z-index: 1000; /* Asegura que esté por encima de todo */
}

/* Estilo del círculo del loader */
.loader .spinner {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C2E4F2; /* Color del fondo */
    border: 6px solid rgba(240, 192, 240, 0.5); /* Borde exterior */
    border-top-color: #f0c; /* Color del borde superior */
    animation: spin 1.2s linear infinite;
}

/* Ocultar el loader */
.hidden {
    display: none;
}

/* Keyframes para la animación de giro */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
