/* Estilo general del formulario */
body {
    font-family: Arial, sans-serif;
    background-color: #cee9f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 430px;
    padding: 20px;
}

.header {
    background-color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header-left span {
    font-size: 18px;
    color: #000;
}

form {
    background-color: #F8D7DA; /* Fondo rosado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #575757;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select, textarea, input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, select:focus, textarea:focus, input[type="number"]:focus {
    border-color: #E8A4B0;
    outline: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

/* Botones */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"] {
    background-color: #575757;
    color: #FFF;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #E8A4B0;
    transform: scale(1.05);
}

button[type="submit"]:active, button[type="button"]:active {
    transform: scale(0.95);
}


button[type="button"] {
    background-color: #000000;
    color: #FFF;
    margin-top: 10px;
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    z-index: 1000;
}

/* Estilo del círculo del loader */
.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C2E4F2;
    border: 6px solid rgba(240, 192, 240, 0.5); /* Borde exterior */
    border-top-color: #f0c; /* Color del borde superior */
    animation: spin 1.2s linear infinite;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Estilo para el mensaje de confirmación o error */
#mensaje {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.hidden {
    display: none;
}
::-webkit-scrollbar{
    height: 0;
    width: 0;
    }